.page {
  margin-top: 30px;

  h1 {
    font-size: 50px;
  }

  .blog__posts {
    // margin-top: 30px;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    // column-gap: 20px;

    // @include mq('tablet', 'min') {
    //   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // }

    // @include mq('tablet-wide') {
    //   column-gap: 40px;
    //   margin-top: 50px;
    // }

    // @include mq('desktop', 'min') {
    //   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    // }
  }

  .blog__post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    &-header {
      width: calc(50% - 10px);

      img {
        width: 100%;
        display: block;
        max-height: 300px;
      }
    }

    &-content {
      width: calc(50% - 10px);
      background: $white;
      padding: 30px 40px;
      border: 1px solid rgba($primary, 0.1);

      h2 {
        text-align: left;
        margin-bottom: 20px;

        a {
          text-decoration: none;
          color: $primary;
          font-size: 35px;
        }
      }

      p {
        font-size: 17.5px;
      }
    }
  }

}